.App {
  height: 100vh;
}

section {
  text-align: center;
}

@media (min-width: 700px) {

  .App {
    width: 100vw;
  }

  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
  }
}